@import "../abstracts/variables";

.title {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin: 24px 52px;
    box-sizing: border-box;
    padding-bottom: 23px;
    border-bottom: 2px solid gray;
}

.cards-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 512px;
    box-sizing: border-box;
    padding: 32px;
    position: relative;
    align-items: center;
    gap: 16px;

    &__info {
        display: flex;
        position: absolute;
        gap: 10px;
        left: 35px;
        z-index: 2;

        .hit {
            @include hit;
        }

        .sale {
            @include sale;
        }

        .new {
            @include new;
        }
    }

    &__book-cover {
        width: 172px;
    }

    &__title-n-price {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .price {
            @include price;
        }

        .old-price {
            @include old-price;
        }

        .book-info {
            @include flex-column;

            .author {
                color: #8E8E8E;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            .name {
                width: 242px;
                height: 31px;
                border-bottom: 1px solid gray;
                box-sizing: border-box;
                padding-bottom: 30px;
                color: #1F1F1F;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                overflow: hidden;
            }
        }
    }

    .add {
        @include basket-add;
    }

    .end {
        @include basket-end;
    }
}
