@import "./abstracts/variables";

.header {
    position: sticky;
    width: $full-width;
    top: 0;
    left: 0;
    z-index: 3;
    &-menu1 {
        display: flex;
        height: 72px;
        padding: 16px 52px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        background: #10BBD5;
        box-sizing: border-box;
    }

    &-cart {
        background: #10BBD5;
        border: none;
        position: relative;
    }

    &-cart::after{
        content: '0';
        display: block;
        position: absolute;
        color: black;
        top: 8px;
        left: 17px;
    }

    &-menu2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 0px 52px;
        box-sizing: border-box;
    
    }

    &__pay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    &__wallet {
        color: #F8FDFE;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &__menu-btns {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
    }
}
